* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 30px 35px;
  font-size: 1.55vw;
}
